#players {
	position: absolute;
	top: 10px;
	left: 10px;
	display: flex;
	flex-direction: column;
  background-color: white;
}

.player {
	padding: 25px 50px;
	border: 2px solid black;
	border-bottom: 0px;
}

.player:last-child {
	border-bottom: 2px solid black;
}

.player-score {
  font-size: 1.5em;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.bottom-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex; 
}

.button {
  cursor: pointer;
  width: 200px;
  height: 100px;
  background-color: #e0c284;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  font-weight: 600;
  font-size: 2em;
}

.button:hover {
  background-color: #d9b05b;
}

.title {
  font-weight: 600;
  font-size: 4em;
}

.description {
  font-size: 1.5em;
}

body {
  background-color: #a5cae6;
}